Projeto para prática de ETL

In [3]:
#importar biblioteca pandas
import pandas as pd

In [4]:
#ler as planilhas de acidentes
df1 = pd.read_csv('acidentes2019_todas_causas_tipos.csv', encoding = "latin1", sep=';')
df2 = pd.read_csv('acidentes2020_todas_causas_tipos.csv', encoding = "latin1", sep=';')
df3 = pd.read_csv('acidentes2021_todas_causas_tipos.csv', encoding = "latin1", sep=';')

In [5]:
#verifica as primeiras linhas de cada df
df1.head()

,id,pesid,data_inversa,dia_semana,horario,uf,br,km,municipio,causa_principal,...,sexo,ilesos,feridos_leves,feridos_graves,mortos,latitude,longitude,regional,delegacia,uop
0,182210.0,402103.0,2019-01-01,terça-feira,01:30:00,SP,116.0,218,GUARULHOS,Sim,...,Masculino,0,1,0,0,"-23,46052014","-46,48772478",SR-SP,DEL6/1,UOP01/SP
1,182210.0,402106.0,2019-01-01,terça-feira,01:30:00,SP,116.0,218,GUARULHOS,Sim,...,Masculino,0,1,0,0,"-23,46052014","-46,48772478",SR-SP,DEL6/1,UOP01/SP
2,182210.0,402104.0,2019-01-01,terça-feira,01:30:00,SP,116.0,218,GUARULHOS,Sim,...,Feminino,0,1,0,0,"-23,46052014","-46,48772478",SR-SP,DEL6/1,UOP01/SP
3,182210.0,402102.0,2019-01-01,terça-feira,01:30:00,SP,116.0,218,GUARULHOS,Sim,...,Masculino,0,1,0,0,"-23,46052014","-46,48772478",SR-SP,DEL6/1,UOP01/SP
4,182211.0,402126.0,2019-01-01,terça-feira,01:30:00,PR,373.0,"177,3",PONTA GROSSA,Sim,...,Masculino,0,1,0,0,"-25,05533957","-50,22776753",SR-PR,DEL7/3,UOP01/PR

In [6]:
df2.head()

,id,pesid,data_inversa,dia_semana,horario,uf,br,km,municipio,causa_principal,...,sexo,ilesos,feridos_leves,feridos_graves,mortos,latitude,longitude,regional,delegacia,uop
0,260031.0,578987.0,2020-01-01,quarta,01:00:00,TO,153.0,"678,1",GURUPI,Sim,...,Masculino,0,0,1,0,"-11,77460203","-49,10744996",SR-TO,UOP01/TO,NaN
1,260031.0,578986.0,2020-01-01,quarta,01:00:00,TO,153.0,"678,1",GURUPI,Sim,...,Feminino,0,0,1,0,"-11,77460203","-49,10744996",SR-TO,UOP01/TO,NaN
2,260031.0,578988.0,2020-01-01,quarta,01:00:00,TO,153.0,"678,1",GURUPI,Sim,...,Masculino,0,0,1,0,"-11,77460203","-49,10744996",SR-TO,UOP01/TO,NaN
3,260031.0,578991.0,2020-01-01,quarta,01:00:00,TO,153.0,"678,1",GURUPI,Sim,...,Feminino,0,0,1,0,"-11,77460203","-49,10744996",SR-TO,UOP01/TO,NaN
4,260031.0,578475.0,2020-01-01,quarta,01:00:00,TO,153.0,"678,1",GURUPI,Sim,...,Feminino,0,0,1,0,"-11,77460203","-49,10744996",SR-TO,UOP01/TO,NaN

In [7]:
df3.head()

,id,pesid,data_inversa,dia_semana,horario,uf,br,km,municipio,causa_principal,...,sexo,ilesos,feridos_leves,feridos_graves,mortos,latitude,longitude,regional,delegacia,uop
0,331693,739775.0,2021-01-01,sexta-feira,00:02:00,SC,101.0,"314,9",LAGUNA,Sim,...,Masculino,1,0,0,0,"-28,43029392","-48,84925073",SR-SC,UOP01,DEL02
1,331693,739774.0,2021-01-01,sexta-feira,00:02:00,SC,101.0,"314,9",LAGUNA,Sim,...,Feminino,0,1,0,0,"-28,43029392","-48,84925073",SR-SC,UOP01,DEL02
2,331693,738219.0,2021-01-01,sexta-feira,00:02:00,SC,101.0,"314,9",LAGUNA,Sim,...,Masculino,1,0,0,0,"-28,43029392","-48,84925073",SR-SC,UOP01,DEL02
3,331693,739775.0,2021-01-01,sexta-feira,00:02:00,SC,101.0,"314,9",LAGUNA,Sim,...,Masculino,1,0,0,0,"-28,43029392","-48,84925073",SR-SC,UOP01,DEL02
4,331693,739774.0,2021-01-01,sexta-feira,00:02:00,SC,101.0,"314,9",LAGUNA,Sim,...,Feminino,0,1,0,0,"-28,43029392","-48,84925073",SR-SC,UOP01,DEL02

In [8]:
#verifica as colunas para filtrar quais serão utilizadas no ETL

df1.columns

Index(['id', 'pesid', 'data_inversa', 'dia_semana', 'horario', 'uf', 'br',
       'km', 'municipio', 'causa_principal', 'causa_acidente',
       'ordem_tipo_acidente', 'tipo_acidente', 'classificacao_acidente',
       'fase_dia', 'sentido_via', 'condicao_metereologica', 'tipo_pista',
       'tracado_via', 'uso_solo', 'id_veiculo', 'tipo_veiculo', 'marca',
       'ano_fabricacao_veiculo', 'tipo_envolvido', 'estado_fisico', 'idade',
       'sexo', 'ilesos', 'feridos_leves', 'feridos_graves', 'mortos',
       'latitude', 'longitude', 'regional', 'delegacia', 'uop'],
      dtype='object')

In [9]:
#filtra as colunas que vamos usar para o processo ETL
df11 = df1[['id', 'data_inversa', 'uf','municipio','tipo_acidente', 'ano_fabricacao_veiculo']]
df22 = df2[['id', 'data_inversa', 'uf','municipio','tipo_acidente', 'ano_fabricacao_veiculo']]
df33 = df3[['id', 'data_inversa', 'uf','municipio','tipo_acidente', 'ano_fabricacao_veiculo']]

In [10]:
#Verificar as colunas selecionadas
df11

,id,data_inversa,uf,municipio,tipo_acidente,ano_fabricacao_veiculo
0,182210.0,2019-01-01,SP,GUARULHOS,Colisão com objeto estático,2005.0
1,182210.0,2019-01-01,SP,GUARULHOS,Colisão com objeto estático,2005.0
2,182210.0,2019-01-01,SP,GUARULHOS,Colisão com objeto estático,2005.0
3,182210.0,2019-01-01,SP,GUARULHOS,Colisão com objeto estático,2005.0
4,182211.0,2019-01-01,PR,PONTA GROSSA,Colisão traseira,2004.0
...,...,...,...,...,...,...
331661,266434.0,2019-06-03,CE,CAUCAIA,Colisão traseira,2009.0
331662,266434.0,2019-06-03,CE,CAUCAIA,Colisão traseira,2011.0
331663,266573.0,2019-07-13,PR,CANDOI,Capotamento,NaN
331664,266573.0,2019-07-13,PR,CANDOI,Saída de leito carroçável,NaN
331665,266627.0,2019-10-22,BA,SIMOES FILHO,Queda de ocupante de veículo,2016.0

In [11]:
#junta os 3 dataframes em um só
df = pd.concat([df11, df22, df33])

df.head()

,id,data_inversa,uf,municipio,tipo_acidente,ano_fabricacao_veiculo
0,182210.0,2019-01-01,SP,GUARULHOS,Colisão com objeto estático,2005.0
1,182210.0,2019-01-01,SP,GUARULHOS,Colisão com objeto estático,2005.0
2,182210.0,2019-01-01,SP,GUARULHOS,Colisão com objeto estático,2005.0
3,182210.0,2019-01-01,SP,GUARULHOS,Colisão com objeto estático,2005.0
4,182211.0,2019-01-01,PR,PONTA GROSSA,Colisão traseira,2004.0

In [12]:
df.columns

Index(['id', 'data_inversa', 'uf', 'municipio', 'tipo_acidente',
       'ano_fabricacao_veiculo'],
      dtype='object')

In [13]:
#muda o nome das colunas
df = df.rename(columns={'data_inversa':'data'})

In [14]:
df.columns

Index(['id', 'data', 'uf', 'municipio', 'tipo_acidente',
       'ano_fabricacao_veiculo'],
      dtype='object')

In [15]:
#verifica a quantidade de linhas e colunas
df.shape

(933290, 6)

In [19]:
#apresenta os estados com maior quantidade de acidentes
ranking_estado = df.groupby('uf')['id'].count().reset_index()
ranking_estado = ranking_estado.sort_values(by='id', ascending=False)

print(ranking_estado)

    uf      id
10  MG  129254
17  PR  100513
23  SC   85935
22  RS   64460
25  SP   62742
8   GO   53886
4   BA   49965
18  RJ   49640
12  MT   37467
15  PE   31771
11  MS   30436
20  RO   30411
7   ES   26521
5   CE   24969
14  PB   23583
13  PA   21215
16  PI   20873
9   MA   19833
6   DF   15310
19  RN   14895
26  TO   11899
24  SE    7658
1   AL    7203
21  RR    3741
2   AM    3360
0   AC    3322
3   AP    2428

In [20]:
#apresenta o ranking de acidentes por tipo de acidente
ranking_acidente = df.groupby('tipo_acidente')['id'].count().reset_index()
ranking_acidente = ranking_acidente.sort_values(by='id', ascending=False)

print(ranking_acidente)

                       tipo_acidente      id
32                        Tombamento  105700
20                  Colisão traseira   91225
31         Saída de leito carroçável   70076
11                 ColisÃ£o traseira   60422
2                        Capotamento   56581
30      SaÃ­da de leito carroÃ§Ã¡vel   52029
19               Colisão transversal   49495
29      Queda de ocupante de veículo   43672
15                   Colisão frontal   41170
16                   Colisão lateral   39451
7                   ColisÃ£o lateral   39151
28     Queda de ocupante de veÃ­culo   36909
5      ColisÃ£o com objeto estÃ¡tico   33996
10              ColisÃ£o transversal   33527
1          Atropelamento de Pedestre   31911
6                   ColisÃ£o frontal   29465
14       Colisão com objeto estático   25944
23                     Engavetamento   22492
12                Colisão com objeto   17256
17     Colisão lateral mesmo sentido   12150
22             Derramamento de carga   11486
0            Atropelamento de Animal    6698
27                          Incêndio    5618
18    Colisão lateral sentido oposto    5595
26                         IncÃªndio    3960
21                   Danos eventuais    2473
13   Colisão com objeto em movimento    1813
4   ColisÃ£o com objeto em movimento    1796
25                  Eventos atípicos     871
3                ColisÃ£o com objeto     219
9    ColisÃ£o lateral sentido oposto      62
8     ColisÃ£o lateral mesmo sentido      20
24                 Eventos atÃ­picos      16

In [21]:
#apresenta o ranking de acidentes por ano de fabricação do carro
ranking_ano_veiculo = df.groupby('ano_fabricacao_veiculo')['id'].count().reset_index()
ranking_ano_veiculo = ranking_ano_veiculo.sort_values(by='id', ascending=False)

print(ranking_ano_veiculo)

    ano_fabricacao_veiculo     id
59                  2013.0  66003
57                  2011.0  63866
60                  2014.0  58654
64                  2018.0  56697
58                  2012.0  56079
..                     ...    ...
6                   1960.0      7
7                   1961.0      6
1                   1937.0      4
5                   1959.0      3
2                   1951.0      1

[68 rows x 2 columns]

In [30]:
#salva os resultados em uma lista
nomeArquivo1 = 'ranking_acidentes1.xlsx'
nomeArquivo2 = 'ranking_acidentes2.xlsx'
nomeArquivo3 = 'ranking_acidentes3.xlsx'

ranking_acidente.to_excel(nomeArquivo1)
ranking_estado.to_excel(nomeArquivo2)
ranking_ano_veiculo.to_excel(nomeArquivo3)